@import '../node_modules/foundation-sites/scss/foundation';
@import 'scss/dropdown.scss';
@import 'scss/tweet-listing.scss';

@include foundation-everything();

.search-config-bar {
  margin-bottom: 20px;
}

.errors-list {
  width: 100%;
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  background: #dc4a4a;
  color: white;

  ul {
    margin-bottom: 0;
  }
}
