.dropdown {
  display: inline-block;
  position: relative; }
  .dropdown.is-open > ul {
    display: block; }

.dropdown__label {
  display: inline-block; }
  .dropdown__label + button {
    margin-left: 10px; }

.dropdown > button,
.dropdown > ul {
  min-width: 120px;
  border: 1px solid #cacaca;
  border-radius: 3px; }

.dropdown > button {
  padding: 10px 45px 10px 10px;
  position: relative;
  text-align: left; }
  .dropdown > button:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #0a0a0a;
    transform: translateY(-50%); }
  .dropdown > button:hover {
    background: #e6e6e6;
    cursor: pointer; }
  .dropdown > button:focus {
    outline: none; }

.dropdown > ul {
  display: none;
  margin-top: 5px;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 100;
  background: white; }
  .dropdown > ul li {
    padding: 5px 10px; }
  .dropdown > ul li:hover {
    background: #e6e6e6;
    cursor: pointer; }
