.twitter-container {
  margin-top: 100px;
}

.tweet-list > li {
  margin-bottom: 40px;
  position: relative;
}

.tweet-list .tweet-content {
  padding: 10px;
  background: #efefef;
  border: 1px solid #cacaca;
  border-radius: 3px;
}

.tweet-list span {
  margin-top: 5px;
  position: absolute;
  top: 100%;
  right: 0;
  font-size: 0.8rem;
}